# OS files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp



# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# Environment variables
.env

# virtual environment
venv/
.venv/

# Save games
save_game.json
save_game-*.json
